.nav-bar {
  background-color: #c7b594;
  text-align: center;
}

.home-content {
  background-image: url(src/assets/beertinderbg.jpg);
  background-size: cover;
}

#footer {
  height: 4vh;
  background-color: #93794d;
  text-align: center;
}

.not-found {
  height: 89vh;
  background-image: url(/src/assets/NotFoundImg.jpg);
  background-size: cover;
  color: azure;
  text-align: center;
}
