.navbar {
  background-color: #C7B594;
  text-align: center;
}

#footer {
  height: 4vh;
  background-color: #93794D;
  text-align: center;
}

.NotFound { 
  height: 89vh;
  background-image: url(/src/assets/NotFoundImg.jpg);
  background-size: cover;
  color: azure;
  text-align: center;
}


